@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-image: url(Images/9205375.jpg);
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main right'

}

h1 {
    font-size: 700%;
    color: white;
    background-color: #003169;
    background-position: top;
}

.item1 {
    grid-area: header;
}

.noticias {
    grid-area: right;
    color: black;
    text-align: center;
}

.noticias a:link,
.noticias a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.noticias img {
    width: 50%;
    height: 35%;
    object-fit: cover;
}

h3 {
    font-size: 150%;
    background-color: white;

}

.menu {

    font-family: "Rowdies", sans-serif;
    font-size: 250%;
    background-color: #003169;
    color: white;

}

.iconos img {
    width: 35px
}

.iconos {
    grid-area: menu;
    background-color: rgb(167, 167, 167);
    font-size: 110%;
}

.iconos a:link,
.iconos a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.iconos p:hover {
    background-color: thistle;
    color: black
}

.item3 {
    grid-area: main;
    font-size: 600%;
}

main.item3 a:link,
main.item3 a:visited {
    color: white;
    background-color: #003169;
    margin: 15px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10%;
    padding: 20px;
}

.noti {
    font-size: 0.35em;
    background-color: white;
    text-align: center;
}

.noti img {
    width: 75%;
}

.main-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #003169;
    padding: 3%;
    column-gap: 5%;
    row-gap: 10%;
}

.main-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 35% 0;
    font-size: 60%;
}

.select-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main';
}

.main-container a:link,
.main-container a:visited {
    background-color: none !important;
}